body {
  font-family: "Roboto", sans-serif;
}

.basic-info__img {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .basic-info__name {
    text-align: center;
} */
